.Festival-Img-Background {
    width: 400px;
    height: 430px;
    margin: 0 10px;
    background-size: 400px;
    background-image: url("./first.jpg");
    background-repeat: no-repeat;
}

.Festival-Img-info {
    width: 360px;
    height: 60px;
    margin: 0 10px;
    background-color: #3D3D3D;
    display: flex;
    align-items: center;
    padding: 0 20px;
}